# Node
node_modules/
dist/

# Next.js
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml
